*{
    margin: 0;
    padding: 0;
    border: 0;
    
  }

.bg-container {
    background-image: url("./image/4k-assassins-creed-origins-2019-c0.jpg");
    height: 100vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    padding: 5px;
}

.h-center {
    text-align: center;
}

.main-heading {
    color: red;
    font-family: "lobster";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-decoration-line: underline;
    padding-bottom: 20px;
    

}

.paragraph {
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
}

.button {
    color: white;
    height: 40px;
    width: 140px;
    background-color: #f00000;
    border-radius: 20px;
    border-width: 5px;
    
}